/* ---------------------------------------------- /*
 * Common settings
/* ---------------------------------------------- */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  display: block;
}

* {
  box-sizing: border-box;
  padding: 0;
}

section {
  position: relative;
  display: block;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.content-wr {
  position: relative;
  max-width: 75em;
  margin: 0 auto;
  padding: 0 0.9375em;
  overflow: hidden;
}

h2 {
  line-height: 80%;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 2.375em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 small {
  margin-top: 0.5em;
  display: block;
  text-transform: uppercase;
  font-family: Merriweather, serif;
  font-size: 0.437em;
  color: #5e5f5f;
  font-weight: 400;
}

h3 {
  font-family: Merriweather, serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25em;
}

h4 {
  font-family: Merriweather, serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.0625em;
}

p {
  font-family: Raleway, sans-serif;
  line-height: 1.75em;
}

section:not(#head_section) {
  padding-top: 3.395em;
  padding-bottom: 5em;
  overflow: hidden;
}

/* ---------------------------------------------- /*
 * Header
/* ---------------------------------------------- */
header {
  position: absolute;
  background: #eff0f1;
  padding: 3.9375em 0 1em;
  width: 100%;
  top: 0;
  transition: box-shadow 0.5s ease;
  z-index: 100;
}

header .content-wr {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.sticky {
  padding-top: 1em;
  position: fixed;
  box-shadow: 0 -32px 32px 31px #5E5E5E;
}

#menu_button {
  float: right;
  width: 1.875em;
  margin-top: 1em;
  cursor: pointer;
}

.menu_button_bars {
  border-radius: 0.175em;
  background: #606060;
  height: 0.25em;
  width: 100%;
  margin-bottom: 0.3125em;
  transform-origin: center center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#menu_button.active .menu_button_bars:nth-child(1) {
  -webkit-transform: translateY(0.5625em) rotate(-45deg);
  transform: translateY(0.5625em) rotate(-45deg);
}

#menu_button.active .menu_button_bars:nth-child(2) {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

#menu_button.active .menu_button_bars:nth-child(3) {
  -webkit-transform: translateY(-0.5625em) rotate(45deg);
  transform: translateY(-0.5625em) rotate(45deg);
}

/* ---------------------------------------------- /*
 * Nav
/* ---------------------------------------------- */
nav {
  margin-top: 1em;
  position: relative;
  transform-origin: right top;
  width: 0;
  overflow: hidden;
  height: 3em;
  transition: width 0.5s ease;
}

nav.active {
  display: block;
  width: 40em;
}

nav div {
  font-family: Montserrat, sans-serif;
  width: 40em;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

nav div a {
  margin-right: 1em;
  text-decoration: none;
  color: #606060;
  display: block;
  height: 100%;
}

nav div a:hover {
  color: #000000;
  text-shadow: #000000 0 0px 5px;
}

@media (max-width: 850px) {
  nav {
    transition: height 0.5s ease;
  }
  nav.active {
    width: 8em;
    height: 18em;
    overflow: hidden;
  }
  nav div {
    flex-direction: column;
    margin-top: 3em;
  }
  nav div a {
    margin: 1em 0;
  }
}

/* ---------------------------------------------- /*
 * Top section
/* ---------------------------------------------- */
#head_section {
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background: #eff0f2;
  box-sizing: border-box;
  padding-top: 11.9375em;
  text-align: center;
}

#head_section h1 {
  font-size: 2.8125em;
  letter-spacing: 2px;
  font-kerning: normal;
  text-shadow: 0 9px 10px rgba(0, 0, 0, 0.24);
  color: #505050;
  margin: 0 0 0.4em;
}

#head_section h1 mark {
  background: #b2f2ee;
  color: #505050;
  display: inline-block;
  padding: 0 0.2em;
}

#head_section button {
  border: solid #777879 0.11111111em;
  -webkit-border-radius: 0.11111111em;
  -moz-border-radius: 0.11111111em;
  border-radius: 0.11111111em;
  color: #777879;
  background: transparent;
  font-size: 1.125em;
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: 0.1em;
  height: 2.95em;
  width: 12.89em;
  margin-top: 7em;
  margin-bottom: 2em;
}

#head_section button:focus {
  outline: none;
}

#head_section img {
  position: absolute;
  right: 6em;
  bottom: 0;
}

@media only screen and (max-width: 812px) {
  #head_section img {
    display: none;
  }
  #head_section h1 {
    font-size: 1.8em;
    letter-spacing: 1px;
  }
}

/* ---------------------------------------------- /*
 * About Us Section
/* ---------------------------------------------- */
#aboutUs {
  background: #f8fafa;
  min-height: 100vh;
}

#aboutUs .flex {
  flex-direction: row;
  justify-content: space-between;
}

#aboutUs .flex .slider {
  position: relative;
  padding: 2.5em 2.5em 0;
  max-width: 32.5em;
  box-sizing: border-box;
}

#aboutUs .flex .slider .sliderBg {
  position: absolute;
  height: 65%;
  width: 100%;
  background-color: #eff0f2;
  margin-top: 13%;
  margin-left: -2.5em;
}

#aboutUs .flex .slider ul {
  padding: 0;
  list-style: none;
  text-align: center;
  position: relative;
}

#aboutUs .flex .slider .sliderItems {
  max-width: 26em;
  margin: 0 auto;
}

#aboutUs .flex .slider .sliderItems:after {
  content: "";
  display: table;
  clear: both;
}

#aboutUs .flex .slider .sliderItems img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

#aboutUs .flex .slider .sliderItems li {
  opacity: 0;
  transition: opacity 0.4s;
  width: 100%;
  margin-right: -100%;
  float: left;
}

#aboutUs .flex .slider .sliderItems li.active {
  opacity: 1;
}

#aboutUs .flex .slider .sliderNav li {
  transition: opacity 0.4s;
  display: inline-block;
  margin: 0 0.09375em;
  width: 0.625em;
  height: 0.625em;
  background: #d0d0d0;
  border-radius: 0.125em;
}

#aboutUs .flex .slider .sliderNav li.active {
  background: #71f6eb;
}

#aboutUs .flex .aboutStory {
  padding: 2.5em 2.5em 0;
  max-width: 32.5em;
  box-sizing: border-box;
}

@media only screen and (min-width: 760px) {
  #aboutUs .flex {
    flex-wrap: nowrap;
  }
}

@media only screen and (max-width: 700px) {
  .slider, .aboutStory {
    min-width: 100%;
    margin: 0 auto;
  }
}
