/* ---------------------------------------------- /*
 * Common settings
/* ---------------------------------------------- */


html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
	display: block;
}

* {
	box-sizing: border-box;
	padding: 0;
}
  
section {
	position: relative;
	display: block;
  }
  
a {
	text-decoration: none;
  }
  
.flex {
	display: flex;
	flex-wrap: wrap;
}
.content-wr {
	position: relative;
	max-width: 75em;
	margin: 0 auto;
	padding: 0 0.9375em;
	overflow: hidden;
}

h2 {
    line-height: 80%;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 2.375em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 small {
    margin-top:0.5em;
    display: block;
    text-transform: uppercase;
    font-family: Merriweather, serif;
    font-size: 0.437em;
    color: #5e5f5f;
    font-weight: 400;
}

h3 {
    font-family: Merriweather, serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25em;
}

h4 {
    font-family: Merriweather, serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.0625em;
}

p {
    font-family: Raleway, sans-serif;
    line-height: 1.5em;
}

section:not(#head_section) {
    padding-top: 3.395em;
    padding-bottom: 5em;
    overflow: hidden;
}

@keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }

/* ---------------------------------------------- /*
 * Header
/* ---------------------------------------------- */

header {
    position: absolute;
    background: #eff0f1;
    padding: 3.9375em 0 1em;
    width: 100%;
    top: 0;
    transition: box-shadow 0.5s ease;
    z-index: 100;

	.content-wr {
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content:space-between;
		align-items: flex-start;
	}
}
.sticky {
		padding-top: 1em;
		position: fixed;
		box-shadow: 0 -32px 32px 31px #5E5E5E; 
}

#menu_button {
	float: right;
	width: 1.875em;
    margin-top: 1em;
    cursor: pointer;

}
.menu_button_bars {
	border-radius: 0.175em;
	background: #606060;
	height: 0.25em;
	width: 100%;
	margin-bottom: 0.3125em;
	transform-origin: center center;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;	
}
#menu_button {
	&.active {
		.menu_button_bars:nth-child(1) {
			-webkit-transform: translateY(0.5625em) rotate(-45deg);
			transform: translateY(0.5625em) rotate(-45deg)
		}

		.menu_button_bars:nth-child(2) {
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
		}

		.menu_button_bars:nth-child(3) {
			-webkit-transform: translateY(-0.5625em) rotate(45deg);
			transform: translateY(-0.5625em) rotate(45deg);
		}
	}
}
/* ---------------------------------------------- /*
 * Nav
/* ---------------------------------------------- */

nav {
	margin-top: 1em;
    position: relative;
    transform-origin: right top;
    width: 0;
    overflow: hidden;
    height: 1em;
    transition: width 0.5s ease;

	&.active {
		display: block;
		width: 40em;
	}

	div {
		font-family: Montserrat, sans-serif;
		width: 40em;
		padding: 0;
		display: flex;
		flex-direction: row; 
		flex-wrap: nowrap;
		justify-content: space-between;
	
		a {
			margin-right: 1em;
			text-decoration: none;
			color: #606060;
			display: block;
			height: 100%;
			
			&:hover{
				color: #000000;
				text-shadow: #000000 0 0px 5px;
			}
		}
	}	
}
@media(max-width:850px){
	nav {
		transition: height 0.5s ease;
		&.active {
			width: 8em;
			height: 22em;
			overflow: hidden;
		}
	}
	nav div {
		flex-direction: column;
		margin-top: 3em;
		a {
			margin: 1em 0;
		}
	}
}

/* ---------------------------------------------- /*
 * Head section
/* ---------------------------------------------- */

#head_section {
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background: #eff0f2;
    box-sizing: border-box;
    padding-top: 11.9375em;
	text-align: center;
	
	h1 {
		font-size: 2.8125em;
		letter-spacing: 2px;
		font-kerning: normal;
		text-shadow: 0 9px 10px rgba(0, 0, 0, 0.24);
		color: #505050;
		margin: 0 0 0.4em;

		mark {
			background: #b2f2ee;
			color: #505050;
			display: inline-block;
			padding: 0 0.2em;
		}
	}

	button {
		border: solid #777879 0.11111111em;
		-webkit-border-radius: 0.11111111em;
		-moz-border-radius: 0.11111111em;
		border-radius: 0.11111111em;
		color: #777879;
		background: rgba(0, 0, 0, 0);

		font-size: 1.125em;
		text-transform: uppercase;
		font-family: inherit;
		letter-spacing: 0.1em;
	
		height: 2.95em;
		width: 12.89em;
		margin-top: 7em;
		margin-bottom: 2em;

		&:focus {
			outline: none;
		}
	}

	img {
		position: absolute;
		right: 6em;
		bottom: 0;
	}
}
@media only screen and (max-width: 812px) {
    #head_section {
        
    	img{
        	display: none;
		}
		h1 {
			font-size: 1.8em;
			letter-spacing: 1px;
		}
	}
}

/* ---------------------------------------------- /*
 * About Us Section
/* ---------------------------------------------- */

#aboutUs {
	background: #f8fafa;
	min-height: 100vh;
	&:target {
		animation: fadeIn 0.6s ease-in-out;
	}
	.flex{
		flex-direction: row;
		justify-content: space-between;

		.slider {
			position: relative;
			padding: 2.5em 2.5em 0;
			max-width: 32.5em;
			box-sizing: border-box;

			.sliderBg{
				position: absolute;
   				height:65%;
    			width: 100%;
    			background-color: #eff0f2;
				margin-top: 13%;
				margin-left: -2.5em;	
			}
			
			ul{
				padding: 0;
				list-style: none;
				text-align: center;
				position: relative;
			}
		
			.sliderItems{
				max-width: 26em;
				margin: 0 auto;
				
				&:after{
					content: "";
					display: table;
					clear: both;
				}
				
				img{
					width: 100%;
					height: auto;
					vertical-align: bottom;
				}
				li {
					opacity: 0;
					transition: opacity 0.4s;
					width: 100%;
					margin-right: -100%;
					float: left;
				 
					 &.active {
						opacity: 1;
					}
				}
			}
			.sliderNav li {
				transition: opacity 0.4s;
				display: inline-block;
				margin: 0 0.09375em;
				width: 0.625em;
				height: 0.625em;
				background: #d0d0d0;
				border-radius: 0.125em;
				
				&.active{
					background: #71f6eb;
				}
			}							
		}
		.aboutStory {
			padding: 2.5em 2.5em 0;
			max-width: 32.5em;
			box-sizing: border-box;
		}
	}
}

@media only screen and (min-width: 760px) {
	#aboutUs .flex {
		flex-wrap: nowrap;
	}
}
@media only screen and (max-width: 700px) {
	.slider, .aboutStory {
		min-width: 100%;
		margin: 0 auto;
	}
}			


/* ---------------------------------------------- /*
 * Featured Works
/* ---------------------------------------------- */

#featWorks {
	&:target {
		animation: fadeIn 0.6s ease-in-out;
	}
	 .content-wr {
		flex-direction: column;
		text-align: center;

		.workBlocks {
			flex-wrap: wrap;
			flex-direction: row;
			text-align: center;
			align-items: center;
			justify-content: space-around;
			margin: 0 auto;
			box-sizing: border-box;
			width: 100%;		
		}
	}
}
.col {
	width: calc(33.33% - 1em);
	margin: 0.5em;

	&:nth-child(1){
		background: url(../imgs/works_item1.jpg) no-repeat center;
		background-size: cover;
	}
	&:nth-child(2){
		background: url(../imgs/works_item2.jpg) no-repeat center;
		background-size: cover;
	}
	&:nth-child(3){
		background: url(../imgs/works_item3.jpg) no-repeat center;
		background-size: cover;
	}
	&:nth-child(4){
		background: url(../imgs/works_item4.jpg) no-repeat center;
		background-size: cover;
	}
	&:nth-child(5){
		background: url(../imgs/works_item5.jpg) no-repeat center;
		background-size: cover;
	}
	&:nth-child(6){
		background: url(../imgs/works_item6.jpg) no-repeat center;
		background-size: cover;
	}
		
	a {
		display: block;
		background: no-repeat center;
		background-size: cover;
		width: 100%;
		min-height: 22.5em;
		text-decoration: none;
	}
}

@media screen and (max-width: 1024px) {
	.col {
		width: calc(50% - 1em);
	}
}
@media screen and (max-width: 600px) {
	.col {
		width: calc(100% - 1em);
	}
}

/* ---------------------------------------------- /*
 * Our Services
/* ---------------------------------------------- */

#ourServices{
	background: #f9fbfb;
	&:target {
		animation: fadeIn 0.6s ease-in-out;
	}
	.servicesGrid {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		text-align: left;
		box-sizing: border-box;
		position: relative;

		.wide{
			max-width: 55%;
			height: 26.375em;
		}
		.narrow {
			max-width: 42%;
			height: 26.375em;
		}
		.serviceItem {
			margin: 0.5em;
			position: relative;
			width:100%;

			&:nth-child(1){
				background: url(../imgs/overlayer.png), url(../imgs/card1.jpg) no-repeat center;
				background-size: cover;
			}
			&:nth-child(2){
				background: url(../imgs/overlayer.png), url(../imgs/card2.jpg) no-repeat center;
				background-size: cover;
			}
			&:nth-child(3){
				background: url(../imgs/overlayer.png), url(../imgs/slide4.jpeg) no-repeat center;
				background-size: cover;
			}
			&:nth-child(4){
				background: url(../imgs/overlayer.png), url(../imgs/slide1.png) no-repeat center;
				background-size: cover;
			}
			&:nth-child(5){
				background: url(../imgs/overlayer.png), url(../imgs/card3.jpg) no-repeat center;
				background-size: cover;
			}
			&:nth-child(6){
				background: url(../imgs/overlayer.png), url(../imgs/card4.jpg) no-repeat center;
				background-size: cover;
			}
			.mainInfo{
				width:100%;
				height: 100%;	
				box-sizing: border-box;
				color: #ffffff;
				flex-direction: column;
				justify-content: space-around;
				margin: 0 auto;
				padding: 10em 4.125em 3.125em;
				z-index: 50;
				position:absolute;
				top:0;
				left:0;
				
				a {
					text-transform: uppercase;
					font-family:Raleway, sans-serif;
					font-size:1.1875em;
					color: #f7f7f7;
					text-decoration: none;
					position: relative;
				}
			}	

			.hiddenInfo{
				opacity:0;
				width:100%;
				height: 100%;
				box-sizing: border-box;
				background: #71f6eb;
    			color: #132928;
				padding: 4.125em;
				z-index: 0;
				transition: opacity 0.5s ease;
				flex-direction: column;
				justify-content: space-between;
				position:absolute;
				top:0;
				left:0;

				&.active{
					opacity: 1;
					z-index:50;
					
				}
				   
				a {
					font-size: 3em;
					color: #132928 !important;
				}
			}
		}	
	}
}

@media only screen and (max-width: 1024px) {

	#ourServices .servicesGrid .serviceItem {
		min-width: 100%;
		margin: 0.5em;
	}
	#ourServices .servicesGrid .serviceItem .mainInfo{
		padding: 2em;
	}
	#ourServices .servicesGrid .serviceItem .hiddenInfo {
		padding: 2em;
	}
	#ourServices .servicesGrid .serviceItem .hiddenInfo p{
		font-size: 1em;
		line-height: 1em;
	}
}

/* ---------------------------------------------- /*
 * Small Team
/* ---------------------------------------------- */
#team:target {
	animation: fadeIn 0.6s ease-in-out;
}

.teamGrid {
	flex-wrap: wrap;
	flex-direction: row;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	box-sizing: border-box;
	width: 100%;		
}

.grid {
	width: calc(33.33% - 1em);
	margin: 0.5em;
	
	&:nth-child(1){
		background: url(../imgs/team_1.jpg) no-repeat center;
		background-size: cover;
	}
	&:nth-child(2){
		background: url(../imgs/team_2.jpg) no-repeat center;
		background-size: cover;
	}
	&:nth-child(3){
		background: url(../imgs/team_3.jpg) no-repeat center;
		background-size: cover;
	}
	&:nth-child(4){
		background: url(../imgs/team_4.jpg) no-repeat center;
		background-size: cover;
	}
	&:nth-child(5){
		background: url(../imgs/team_5.jpg) no-repeat center;
		background-size: cover;
	}
	&:nth-child(6){
		background: url(../imgs/team_1.jpg) no-repeat center;
		background-size: cover;
	}
		
	.smallTeam {
		display: block;
		background: no-repeat center;
		background-size: cover;
		min-height: 27.5em;
		text-decoration: none;
		color: #000000;
		padding-top: 50%;
		width:100%;

		&:hover .forHover {
			opacity: 1;
		}
		
		.forHover{
			opacity: 0;
			width: 90%;
			margin: 0 auto;
			height: 15em;
			box-shadow: 6px 7px 25px #B8B8B8;
			text-align: left;
			padding: 1em 1.5em;
			background-color: #71f6eb;
			transition: opacity 1s ease;
			box-sizing: border-box;
			
			
			.arrow-up {
				width: 0; 
				height: 0; 
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 10px solid #71f6eb;
				transform: translate(60px, -25px);
			}
			
			h3 {
				margin: 0;
			}
			h3 small {
				color: #767877;
				font-style: italic;
				font-size: 0.7em;
				font-weight: 200;
				text-transform: none;	
			}
			p {
				margin-top: 10%;
			}
			.socials {
				margin-top: 2em;

				i {
					margin: 0 0.2em;
					transition: text-shadow 0.5s ease;

					&:hover {
						color: #ffffff;
						text-shadow:#000000 0 0 10px;
					}
				}
			}
		}
		
	} 
}
	


@media screen and (max-width: 1024px) {
	.grid {
	width: calc(50% - 1em);
	}	
}
@media screen and (max-width: 600px) {
	.grid {
	width: calc(100% - 1em);
	}
	.grid .smallTeam {
		padding-top: 60%;
	}
}

/* ---------------------------------------------- /*
 * What They Say Section
/* ---------------------------------------------- */

					
#comments {
	background: #f8fafa;
	min-height: 100vh;
	&:target {
		animation: fadeIn 0.6s ease-in-out;
	}
	.flex {
		flex-direction: row;
		justify-content: space-between;

		.sliderPic {
			position: relative;
			padding: 2.5em 2.5em 0;
			max-width: 24.375em;
			height: 32em;
			box-sizing: border-box;

			.sliderBg {
				position: absolute;
   				height:65%;
    			width: 100%;
    			background-color: #eff0f2;
				margin-top: 8%;
				margin-left: -2.5em;	
			}
			
			ul {
				padding: 0;
				list-style: none;
				text-align: center;
				position: relative;
			}
		
			.sliderPicItems{
				max-width: 19.375em;
				margin: 0 auto;
				height: 25em;
				&:after{
					content: "";
					display: table;
					clear: both;
				}
				
				img {
					width: 100%;
					height: 25em;
					vertical-align: bottom;
					
				}
				li {
					opacity: 0;
					transition: opacity 0.4s;
					width: 100%;
					margin-right: -100%;
					float: left;
				 
					 &.active {
						opacity: 1;
					}
				}
			}
			.sliderPicNav li {
				transition: opacity 0.4s;
				display: inline-block;
				margin: 0 0.09375em;
				width: 0.625em;
				height: 0.625em;
				background: #d0d0d0;
				border-radius: 0.125em;
				
				&.active{
					background: #71f6eb;
				}
			}							
		}
		
		.sliderText {
			position: relative;
			padding: 2.5em 0;
			max-width: 42em;
			box-sizing: border-box;
			height: 32em;
			
			ul {
				padding: 0;
				list-style: none;
				text-align: right;
				position: relative;	
			}
		
			.sliderTextItems{
				background-color: #eff0f2;
				max-width: 42em;
				margin: 0 auto;
				height: 20.7em;
				&:after{
					content: "";
					display: table;
					clear: both;
				}
				
				li {
					opacity: 0;
					transition: opacity 0.4s;
					width: 100%;
					margin-right: -100%;
					float: left;
					text-align: center;
					padding: 2.5em;
					 &.active {
						opacity: 1;
					}
					
					h3 small {
						color: #767877;
						font-style: italic;
						font-size: 0.7em;
						font-weight: 200;
						text-transform: none;	
					}
					i {
						color: yellow;
						margin-top: 1.5em;
					}
				}
			}
			.sliderTextNav li {
				transition: opacity 0.4s;
				display: inline-block;
				margin: 0 0.5em;
				width: 2em;
				height: 2em;
				background: #d0d0d0;
				border-radius: 0.125em;
				margin-top: 0.5em;
				
				&.active{
					background: #71f6eb;
				}
			}							
		}
	}
}

@media only screen and (min-width: 830px) {
	#comments .flex {
		flex-wrap: nowrap;
	}
	#comments .flex .sliderText {
		margin-top:1.9em;
	}
}
@media only screen and (max-width: 830px) {
	#comments .flex .sliderPic, #comments .flex .sliderText {
		min-width: 100%;
		margin: 0 auto;
	}
	#comments .flex .sliderPic .sliderBg {
		height: 90%;
		margin-top: -1em; 
	}
	#comments .flex .sliderText ul {
		text-align: center;
		margin-top:1em;
	}
	#comments .flex .sliderText .sliderTextNav li{
		width: 1em;
		height: 1em;
	}	
}			

@media only screen and (max-width: 400px) {	
	#comments .flex .sliderText .sliderTextItems li{
		padding: 1em;
	}
}

